<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>
<body>
    
    <%- include("partials/navbar.ejs") %>

    <div class="container">
        <div class="px-0 py-5 my-2 text-center d-flex flex-column justify-content-between homeHero"> 
            <h1 class="display-1 fw-bold text-body-emphasis fade-in-down">
                <span class="line line1">All Crypto Tokens.</span><br>
                <span class="line line2">On One Place.</span>
            </h1>
            <div class="col-lg-6 mx-auto mb-3 fade-in-down"> 
                <p class="lead my-3 d-flex flex-column justify-content-center align-items-center">
                    <span class="line line3">View Live Prices, Market Data, Charts and Trends</span>
                    <span class="line line4">- powered by Coinranking.</span>
                </p>
            </div>
            <div class="cta-buttons container mx-auto">
                <form class="heroSearchBar mt-3" method="GET" action="/search">
                    <input class="form-control me-2 search-input-hero" type="search" name="q" placeholder="🔍 Search Name, Symbol or Contract-Address...">
                    <button class="btn btn-outline-primary search-button-hero" type="submit">Search</button>
                </form>
                <form class="topcoins d-flex flex-column">
                    <button type="button" class="viewTop100 btn btn-primary my-2" onclick="window.location.href='/coins'">View The Top 100</button>
                    <button type="button" class="trending btn btn-outline-primary" onclick="window.location.href='/trending'">Trending Coins Today</button>
                </form>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>    
</body>
</html>